{{ form_start(form) }}
<!-- Main content -->
<section
	class="content">
	<!-- Informations personnelles -->
	<div class="box box-default">
		<div class="box-header with-border">
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse">
					<i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						{{ form_row(form.Annee) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<center>
		<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
	</center>
	<!-- Coordonnées -->
</section>
{{ form_end(form) }}
