{% extends 'admin/Dashboard/administration1.html.twig' %}

{% block title %}Nouvelle inscription
{% endblock %}

{% block body %}
	<div class="col-lg-4">
		<a href="{{ path('app_inscription_index') }}">
			<i class="glyphicon glyphicon-chevron-left"></i>
			<span>Retour
			</span>
		</a>
	</div><br>
	<section class="content-header">
		<h1>
			Nouvelle inscription
			<small>Formulaire</small>
		</h1>
	</section>
	{{ include('admin/inscription/_form.html.twig') }}
{% endblock %}
