<!-- ***** Header Area Start ***** -->
<header class="header-area bg-white">
	<div class="">
		<div class="row">
			<div class="col-12">
				<nav
					class="main-nav">
					<!-- ***** Logo Start ***** -->
					<a href="" class="logo">
						<img src="{{asset('assets/images/iconEtablissement.jpeg')}}" width="70px" height="70px">
					</a>
					<!-- ***** Logo End ***** -->
					<!-- ***** Menu Start ***** -->
					<ul class="nav">
						<li class="scroll-to-sections">
							<a href="" class="navbar-brand text-body active">Accueil</a>
						</li>
						<li class="scroll-to-section ">
							<a href="" class="navbar-brand text-body">Notes</a>
						</li>
						<li class="submenu">
							<a href="javascript:;" class="navbar-brand text-body">Liste de présence</a>
							<ul>
								<li><a href="">Trosième catégorie</a></li>
								<li><a href="">Deuxième catégorie</a></li>
								<li><a href="">Première catégorie</a></li>
							</ul>
						</li>
						<li class="scroll-to-section ">
							<a href="" class="navbar-brand text-body">Calendrier scolaire</a>
						</li>
						<li class="scroll-to-section ">
							<a href="" class="navbar-brand text-body">Paiement scolaire</a>
						</li>
						<li class="scroll-to-section ">
							<a href="{{path('app_logout')}}" class="navbar-brand text-body">Me déconnecter</a>
						</li>
						{#<li class="scroll-to-section navbar-brand text-dark">{{ app.user.prenom}}
																																					{{ app.user.nom}}
																																					<!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
																																				</li>#}
					</ul>
					<!-- ***** Menu End ***** -->
				</nav>
			</div>
		</div>
	</div>
</header>
<!-- ***** Header Area End ***** -->
