{{form_start(form)}}
<div class="input-group">
	<div class="form-outline" data-mdb-input-init>
		{{ form_widget(form.q) }}
		<button id="search-button" type="button" class="btn btn-primary dataTables_filter" data-mdb-ripple-init>
			<span class="glyphicon glyphicon-search"></span>
		</button>
	</div>
</div>
{{form_end(form)}}
